// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  text-align: center;
  background: white;
  background-size: cover;
}

.back-index {
  position: absolute;
  left: 0;

  width: 100vw;
  background-size: cover;
  background-attachment: fixed;
}

// .container {
//   width: 1300px;
//   height: 100%;
//   margin-top: 100px;
// }

a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
  &:hover {
    color: indigo;
    text-decoration: none;
  }
}



.row:hover > :hover,
.row:focus-within > :focus {
  transition: 0.3s;
  transform: scale(1.1);
}
